<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%- title %></a>
    </div>

    <div class="navbar-cover">
    </div>
    <!-- /.navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            
            
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/">
                      最新消息<span class="fa fa-caret-right right"></span>
                    </a>
                </li>
                <li>
                    <a href="/staff">
                      </i>軍訓室成員<span class="fa fa-caret-right right"></span>
                    </a>
                </li>
                <li>
                    <a href="http://www.facebook.com">
                      緩徵儘召申請<span class="fa fa-external-link right"></span>
                    </a>
                </li>
                <li>
                    <a href="http://www.google.com">
                      役男出境申請<span class="fa fa-external-link right"></span>
                      </a>
                </li>
                <li>
                    <a href="http://www.youtube.com">
                      預官事務<span class="fa fa-external-link right"></span>
                    </a>
                </li>
                <li>
                    <a href="http://www.apple.com">
                      研發替代役<span class="fa fa-external-link right"></span>
                    </a>
                </li>

                
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    
</nav>