#textarea {
  height: 160px;
}

.sidebar ul li:first-child {
  margin-top: 20px;
}

.sidebar ul li {
  margin: 0 5px 0 10px;
}

.sidebar ul li a {
  background-color: #fafafa;
}

.sidebar ul li a.active {
    background-color: #efefef;
}